#container-First {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    border: none;
    padding: 3ch;
}
.question-class {
    margin-bottom: 3ch;
    border: 2px solid rgb(0, 11, 255);
    outline-color: rgb(100, 155, 255);
}

#submitButton {
    border: 0px solid black;
    border-radius: 8px;
    background-color: rgb(200, 200, 255);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20ch;
    bottom: 5ch;
    height: 5ch;
    width: 10ch;
    font-size: 1rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}